import { Link } from "react-router-dom";

export default function Navbar() {
  return (
    <nav>
      <strong>Career Tool</strong>
      <div>
        <Link to="/">Home</Link>
        <Link to="/careers">Discover</Link>
        <Link to="/assessment">Assessment</Link>
        <Link to="/results">Results</Link>
        <Link to="/login">Login</Link>
      </div>
    </nav>
  );
}
